streamlit
flask
python-telegram-bot
crewai
langchain-google-genai
langchain-community
pypdf
python-docx
Pillow
pandas
openpyxl
google-generativeai>=0.3.0
google-auth>=2.15.0
gTTS
python-pptx
groq
huggingface_hub
openai


